<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="win50" />
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="win50" />
  <package id="linqtotwitter" version="4.1.0" targetFramework="win50" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="win50" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="win50" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="win50" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="win50" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="win50" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="win50" />
  <package id="MvvmLight" version="5.2.0.0" targetFramework="win50" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="win50" />
  <package id="Rx-Core" version="2.2.5" targetFramework="win50" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="win50" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="win50" />
  <package id="Rx-Main" version="2.2.5" targetFramework="win50" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="win50" />
  <package id="TweetinviAPI" version="0.9.11.1" targetFramework="win50" />
  <package id="TweetMoaSharp" version="3.0.0.14" targetFramework="win50" />
</packages>